# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
core/__pycache__

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles/

# 虚拟环境
.env
.venv
venv/
ENV/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# PyCharm
.idea/
*.iml
*.iws
*.ipr
*.iws
.idea_modules/

# 其他
.DS_Store
Thumbs.db
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.pytest_cache/
cover/ 